//
// Generated (version 2022.2-SP1-Lite<build 132640>) at Wed Jun 12 17:45:07 2024
//

module gate74LS00
(
    input A1,
    input B1,
    output N0
);

    GTP_LUT2 /* N0 */ #(
            .INIT(4'b1000))
        N0_vname (
            .Z (N0),
            .I0 (A1),
            .I1 (B1));
    // defparam N0_vname.orig_name = N0;
	// LUT = I0&I1 ;
	// ../source/gate74LS00.v:10


endmodule


module AandB
(
    input A,
    input B,
    output F
);
    wire \U1/N0_rnmt ;
    wire nt_A;
    wire nt_B;

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="K15", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* A_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        A_ibuf (
            .O (nt_A),
            .I (A));
	// ../source/AandB.v:2

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="J14", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* B_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        B_ibuf (
            .O (nt_B),
            .I (B));
	// ../source/AandB.v:2

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="N15", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_DRIVE="2", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* F_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        F_obuf (
            .O (F),
            .I (\U1/N0_rnmt ));
	// ../source/AandB.v:3

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    gate74LS00 U1 (
            .N0 (\U1/N0_rnmt ),
            .A1 (nt_A),
            .B1 (nt_B));
	// ../source/AandB.v:5


endmodule

